# Auto detect text files and perform LF normalization
* text=auto
*.js linguist-language=PLpgSQL
*.css linguist-language=PLpgSQL
*.html linguist-language=PLpgSQL
*.Rmd linguist-language=PLpgSQL
*.R linguist-language=PLpgSQL