# Auto detect text files and perform LF normalization
* text=auto
*.js linguist-language=SQL
*.css linguist-language=SQL
*.html linguist-language=SQL
*.Rmd linguist-language=SQL
*.R linguist-language=SQL